
.ipynb_checkpoints/tasca 1-checkpoint.ipynb
.ipynb_checkpoints/README-checkpoint.md
.ipynb_checkpoints
tasca_5/data/archive/st99_d00.dbf
tasca_5/data/archive/st99_d00.shp
tasca_5/data/archive/st99_d00.shx
tasca_5/data/DelayedFlights.csv
tasca_1/.ipynb_checkpoints/tasca_1-checkpoint.ipynb
tasca_3/.ipynb_checkpoints/tasca_3-checkpoint.ipynb
tasca_3/.ipynb_checkpoints/tasca_3-checkpoint.ipynb
tasca_4/.ipynb_checkpoints/tasca_4-checkpoint.ipynb
tasca_5/.ipynb_checkpoints/tasca_5-checkpoint.ipynb
tasca_6/.ipynb_checkpoints/tasca_6-checkpoint.ipynb
data/archive/st99_d00.dbf
data/archive/st99_d00.shp
data/archive/st99_d00.shx
data/carrier_agregats.csv
data/DelayedFlights.csv
data/delayedflights.pickle
data/Unique_carriers.csv
tasca_4/.ipynb_checkpoints/tasca_4-checkpoint.ipynb
tasca_5/.ipynb_checkpoints/tasca_5-checkpoint.ipynb
tasca_6/.ipynb_checkpoints/tasca_6-checkpoint.ipynb
exemples/
tasca_5/.ipynb_checkpoints/tasca_5-checkpoint.ipynb
tasca_6/.ipynb_checkpoints/tasca_6-checkpoint.ipynb
data/delayed_changed.csv
BIDDL3/PRE-PROCESSING-DATA/
BIDDL3/Data-sources/
BIDDL3/Examining-Data/
data/Web_access_log-akumenius.com.txt
data-sources/Web_access_log-akumenius.com.txt
tasca_6/.ipynb_checkpoints/tasca_6-checkpoint.ipynb
tasca_5/.ipynb_checkpoints/tasca_5-checkpoint.ipynb
data-sources/Web_access_log-akumenius.com.txt.7z
tasca_5/.ipynb_checkpoints/tasca_5-checkpoint.ipynb
tasca_6/.ipynb_checkpoints/tasca_6-checkpoint.ipynb
data/CleanDelayedFlights.csv
data/CleanDelayedFlights.pickle
tasca_6/categorical_scatter_jitter.html
tasca_6/.ipynb_checkpoints/tasca_6-checkpoint.ipynb
tasca_5/.ipynb_checkpoints/tasca_5-checkpoint.ipynb
tasca_5/.ipynb_checkpoints/tasca_5-checkpoint.ipynb
tasca_6/.ipynb_checkpoints/tasca_6-checkpoint.ipynb
udacity-dsnd-1-write-ds-blog/
.DS_Store
